#title {
    margin: 10px;
}

#button-layout {
    margin: 10px;
}

mat-dialog-actions {
    margin-top: 15px;
}

button {
    text-transform: uppercase;
    margin-left: 8px;
    padding: 8px 16px;
    border-radius: 4px;
    display: inline-flex;
    /* Thêm dòng này */
    align-items: center;
    /* Thêm dòng này để căn giữa icon và text */
}

button[mat-raised-button] {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

mat-icon {
    margin-right: 4px;
    font-size: 20px;
    /* Đảm bảo kích thước của icon hợp lý */
}

button[color="warn"] {
    background-color: #f44336;
    color: #ffffff;
}

button[color="primary"] {
    background-color: #2196f3;
    color: #ffffff;
}

button {
    border: none;
    outline: none;
    box-shadow: none;
}

button:focus {
    outline: none;
}

.col-6 {
    mat-form-field {
        width: 100%;
    }
}

.file {
    margin-bottom: 10px;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
}

.full-width {
    width: 100%;
}

mat-form-field.full-width {
    width: 100%;
}

mat-form-field.full-width input {
    width: 100%;
}

.drop-zone {
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    /* Đảm bảo chiều cao tối thiểu */
    padding: 25px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    flex-direction: column;
    overflow: auto;
    /* Cho phép cuộn nếu nội dung quá lớn */
}

.drop-zone--over {
    border-color: #666;
}

.preview-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
    /* Đảm bảo chiều rộng đầy đủ */
    justify-content: center;
    /* Căn giữa các ảnh */
}

.preview-container img {
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
}