<h2 mat-dialog-title id="title">Cập nhật ngôn ngữ</h2>

<div mat-dialog-content class="container row">
    <mat-form-field appearance="fill">
        <mat-label>Tên ngôn ngữ</mat-label>
        <input matInput [(ngModel)]="languagesName" name="languagesName" required minlength="3" maxlength="250"
            pattern="^[a-zA-ZÀ-ỹ\s]+$" #languagesNameInput="ngModel" />
        <mat-error *ngIf="languagesNameInput.errors?.['required']">Tên ngôn ngữ là bắt buộc.</mat-error>
        <mat-error *ngIf="languagesNameInput.errors?.['minlength']">
            Tên ngôn ngữ phải có ít nhất 3 ký tự.
        </mat-error>
        <mat-error *ngIf="languagesNameInput.errors?.['maxlength']">
            Tên ngôn ngữ không được vượt quá 250 ký tự.
        </mat-error>
        <mat-error *ngIf="languagesNameInput.errors?.['pattern']">
            Tên ngôn ngữ chỉ được chứa các ký tự chữ cái và khoảng trắng.
        </mat-error>
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="status" (ngModelChange)="onStatusChange($event)">
        {{ status ? 'Hoạt Động' : 'Ngừng Hoạt Động' }}
    </mat-slide-toggle>
</div>

<div id="button-layout" mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="onCancel()">
        <mat-icon>close</mat-icon> Thoát
    </button>
    <button mat-raised-button color="primary" (click)="updateLanguages()">
        <mat-icon>save</mat-icon> Cập nhật
    </button>
</div>