# Thư mục và tệp cho Angular
node_modules/
dist/
coverage/
*.log
*.env

# Thư mục và tệp cho Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
PythonBackEnd/media/  # Bỏ qua thư mục media chứa tệp tải lên
*.env
*.pot
*.pyc
*.DS_Store

# Thư mục và tệp cho IDE (các IDE phổ biến)
.vscode/

# Thư mục và tệp cho hệ điều hành
Thumbs.db
.DS_Store
