<h2 mat-dialog-title id="title">Cập nhật tác giả</h2>

<div mat-dialog-content class="container row">
    <div class="col-6">
        <mat-form-field appearance="fill">
            <mat-label>Tên tác giả</mat-label>
            <input matInput [(ngModel)]="author.name" required minlength="3" maxlength="250" pattern="^[a-zA-ZÀ-ỹ\s]+$"
                #authorNameInput="ngModel" />
            <mat-error *ngIf="authorNameInput.errors?.['required']">Tên tác giả là bắt buộc.</mat-error>
            <mat-error *ngIf="authorNameInput.errors?.['minlength']">
                Tên tác giả phải có ít nhất 3 ký tự.
            </mat-error>
            <mat-error *ngIf="authorNameInput.errors?.['maxlength']">
                Tên tác giả không được vượt quá 250 ký tự.
            </mat-error>
            <mat-error *ngIf="authorNameInput.errors?.['pattern']">
                Tên tác giả chỉ được chứa các ký tự chữ cái và khoảng trắng.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Bút danh</mat-label>
            <input matInput [(ngModel)]="author.pen_name" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Mô tả</mat-label>
            <input matInput [(ngModel)]="author.bio" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Ngày sinh</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="author.birth_date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Quốc gia</mat-label>
            <mat-select [(ngModel)]="selectedCountry">
                <mat-option *ngFor="let country of countries" [value]="country">
                    {{ country }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-slide-toggle [(ngModel)]="status" (ngModelChange)="onStatusChange($event)">
            {{ status ? 'Hoạt Động' : 'Ngừng Hoạt Động' }}
        </mat-slide-toggle>
    </div>

    <div class="col-6">
        <input style="margin-bottom: 10px;" type="file" (change)="onFileChange($event)" />
        <div *ngIf="imageSrc || author.profile_picture">
            <img [src]="imageSrc || author.profile_picture" alt="Selected Image"
                style="max-width: 256px; height: auto;" />
        </div>
    </div>
</div>

<div id="button-layout" mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="onCancel()">
        <mat-icon>close</mat-icon> Thoát
    </button>
    <button mat-raised-button color="primary" (click)="updateAuthor()">
        <mat-icon>save</mat-icon> Cập nhật
    </button>
</div>