.comic_detail {
    background-color: #262A2B;
    color: white;
    border-radius: 5px;
}

h3 {
    margin: 7px;
}

.radio-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.radio-button {
    display: flex;
    align-items: center;
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-button label {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid none;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}