<h2 mat-dialog-title id="title">Thêm artists</h2>

<div mat-dialog-content class="container">
    <mat-form-field appearance="fill">
        <mat-label>Tên artists</mat-label>
        <input matInput [(ngModel)]="artistsName" name="artistsName" required minlength="3" maxlength="250"
            pattern="^[a-zA-ZÀ-ỹ\s]+$" #artistsNameInput="ngModel" />
        <mat-error *ngIf="artistsNameInput.errors?.['required']">Tên artists là bắt buộc.</mat-error>
        <mat-error *ngIf="artistsNameInput.errors?.['minlength']">
            Tên artists phải có ít nhất 3 ký tự.
        </mat-error>
        <mat-error *ngIf="artistsNameInput.errors?.['maxlength']">
            Tên artists không được vượt quá 250 ký tự.
        </mat-error>
        <mat-error *ngIf="artistsNameInput.errors?.['pattern']">
            Tên artists chỉ được chứa các ký tự chữ cái và khoảng trắng.
        </mat-error>
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="status" (ngModelChange)="onStatusChange($event)">
        {{ status ? 'Hoạt Động' : 'Ngừng Hoạt Động' }}
    </mat-slide-toggle>
</div>

<br>

<div id="button-layout" mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="onCancel()">
        <mat-icon>close</mat-icon> Thoát
    </button>
    <button mat-raised-button color="primary" (click)="addArtists()">
        <mat-icon>save</mat-icon> Thêm mới
    </button>
</div>