<h2 mat-dialog-title id="title">Thêm Parodies</h2>

<div mat-dialog-content class="container">
    <mat-form-field appearance="fill">
        <mat-label>Tên parodies</mat-label>
        <input matInput [(ngModel)]="parodiesName" name="parodiesName" required minlength="3" maxlength="250"
            pattern="^[a-zA-ZÀ-ỹ\s]+$" #parodiesNameInput="ngModel" />
        <mat-error *ngIf="parodiesNameInput.errors?.['required']">Tên parodies là bắt buộc.</mat-error>
        <mat-error *ngIf="parodiesNameInput.errors?.['minlength']">
            Tên parodies phải có ít nhất 3 ký tự.
        </mat-error>
        <mat-error *ngIf="parodiesNameInput.errors?.['maxlength']">
            Tên parodies không được vượt quá 250 ký tự.
        </mat-error>
        <mat-error *ngIf="parodiesNameInput.errors?.['pattern']">
            Tên parodies chỉ được chứa các ký tự chữ cái và khoảng trắng.
        </mat-error>
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="status" (ngModelChange)="onStatusChange($event)">
        {{ status ? 'Hoạt Động' : 'Ngừng Hoạt Động' }}
    </mat-slide-toggle>
</div>

<br>

<div id="button-layout" mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="onCancel()">
        <mat-icon>close</mat-icon> Thoát
    </button>
    <button mat-raised-button color="primary" (click)="addParodies()" [disabled]="parodiesNameInput.invalid">
        <mat-icon>save</mat-icon> Thêm mới
    </button>
</div>