<h2 mat-dialog-title id="title">Cập nhật truyện</h2>

<div mat-dialog-content class="container row">
    <div class="col-md-8 col-padding">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="fill">
                    <mat-label>Tên truyện tranh</mat-label>
                    <input matInput [(ngModel)]="comicName" name="comicName" required minlength="3" maxlength="250"
                        pattern="^[a-zA-ZÀ-ỹ\s\-\'\!]+$" #comicNameInput="ngModel" />
                    <mat-error *ngIf="comicNameInput.errors?.['required']">Tên truyện tranh là bắt buộc.</mat-error>
                    <mat-error *ngIf="comicNameInput.errors?.['minlength']">
                        Tên truyện tranh phải có ít nhất 3 ký tự.
                    </mat-error>
                    <mat-error *ngIf="comicNameInput.errors?.['maxlength']">
                        Tên truyện tranh không được vượt quá 250 ký tự.
                    </mat-error>
                    <mat-error *ngIf="comicNameInput.errors?.['pattern']">
                        Tên truyện tranh chỉ được chứa các ký tự chữ cái và khoảng trắng.
                    </mat-error>
                </mat-form-field>

                <div class="checkbox-container" style="margin-bottom: 20px; margin-top: 20px">
                    <mat-label style="margin-bottom: 8px">Thể loại</mat-label>
                    <div>
                        <mat-checkbox *ngFor="let category of categoryActive" [checked]="category.selected"
                            (change)="onCategoryChange(category, $event.checked)">
                            {{ category.name }}
                        </mat-checkbox>
                    </div>
                </div>

                <div class="checkbox-container" style="margin-bottom: 20px; margin-top: 20px">
                    <mat-label style="margin-bottom: 8px">Ngôn ngữ</mat-label>
                    <div>
                        <mat-checkbox *ngFor="let language of languagesActive" [checked]="language.selected"
                            (change)="onLanguageChange(language, $event.checked)">
                            {{ language.name }}
                        </mat-checkbox>
                    </div>
                </div>

                <mat-slide-toggle [(ngModel)]="status" (ngModelChange)="onStatusChange($event)"
                    style="margin-bottom: 20px; margin-top: 20px">
                    {{ status ? "Hoạt Động" : "Ngừng Hoạt Động" }}
                </mat-slide-toggle>
            </div>

            <div class="col-md-6">
                <div class="file-upload-container">
                    <input class="file-input" type="file" (change)="onFileChange($event)" accept="image/*" />
                    <label class="file-label" for="file-input" *ngIf="!imageSrc">Ảnh đại diện</label>
                    <div *ngIf="imageSrc" class="image-preview-container">
                        <img [src]="imageSrc" alt="Selected Image" class="image-preview" />
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div>
            <h3>Artists</h3>

            <mat-form-field appearance="outline" style="width: 50%; margin-bottom: 16px">
                <mat-label>Tên</mat-label>
                <input matInput [(ngModel)]="artistSearchName" name="artistSearchName" placeholder="Nhập tên ..."
                    (ngModelChange)="searchArtist()" />
            </mat-form-field>

            <ag-grid-angular style="width: 100%; height: 602px" class="ag-theme-alpine" [rowData]="artistRowData"
                [columnDefs]="artistColumnDefs" [headerHeight]="headerHeight"
                (selectionChanged)="onSelectionArtistChanged($event)" [rowSelection]="'multiple'"
                [rowHeight]="rowHeight" [pagination]="true" [paginationPageSize]="paginationPageSize"
                [paginationPageSizeSelector]="paginationPageSizeSelector">
            </ag-grid-angular>
        </div>
    </div>
    <div class="col-md-4 col-padding">
        <div class="drop-zone" id="drop-zone" (click)="onDropZoneClick()" (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave()" (drop)="onDrop($event)">
            <input type="file" id="file-input" accept="image/*" multiple style="display: none"
                (change)="onFileSelected($event)" />
            <label style="font-size: larger" *ngIf="!(imagePreviews.length > 0)">Chi tiết sản phẩm</label>
            <div class="preview-container" id="preview-container">
                <img *ngFor="let imgSrc of  " [src]="imgSrc" alt="Image Preview" />
            </div>
        </div>
    </div>
</div>

<div id="button-layout" mat-dialog-actions align="center">
    <button mat-raised-button color="warn" (click)="onCancel()">
        <mat-icon>close</mat-icon> Thoát
    </button>
    <button mat-raised-button color="primary" (click)="updateComic()">
        <mat-icon>save</mat-icon> Cập nhật
    </button>
</div>